html {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

#navbar > img {
	width: 60px;
	height: 60px;
}
.jumbotron {
	display: flex;
	justify-content: space-around;
	border-bottom: 2px solid black;
}


